.job-details-container{
    max-width: 600px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial , sans-serif;
}
.job-title{
    color: #333;
    margin-bottom: 10px;
}

.applicants-list{
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.applicant-item{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

.apply-btn {
  background-color: #4caf50;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.apply-btn:hover {
  background-color: #45a049;
}
